html,
body {
    height: 100%;
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
p {
    padding: 0;
    margin: 0;
    font-weight: 900;
    font-size: 1.4rem;
    font-family: cursive;
}

.container {
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1000px;
}

header {
    margin: 0 0 1.25rem 0;
    padding-top: 1.25rem;
    text-align: center;
    font-family: fantasy;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    color: #282828d3;
}

.accordion {
    width: 60%;
    margin: 0 auto;
    color: rgba(241, 150, 208, 0.656);
    transition: color .3s linear;
}

.accordion:hover {
    color: #000;
}

.memes_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.625rem;
    border-top: 0.125rem solid rgba(148, 153, 244, 0.941);
}

.memes_header .close {
    width: 0.94rem;
    height: 0.94rem;
    opacity: 0;
    transition: .2s;
}

.accordion:hover .close {
    transform: rotate(90deg);
    opacity: 1;
}

label {
    display: block;
    cursor: pointer;
}

.image {
    width: 0%;
    height: 0%;
    display: block;
    transition: .4s;
    margin: 0 auto;
    padding-bottom: 1.25rem;
}

label:hover .image {
    width: 50%;
    height: auto;
    margin-top: 0.6rem;
}

.accordion input {
    display: none;
}

.accordion input:checked+label {
    color: rgb(7, 8, 2);
}

.accordion input:checked+label .image {
    margin-top: 0.6rem;
    width: 50%;
    height: auto;
    background: cover;
    transition: 1s linear;
}

@media (max-width:800px) {
    header {
        font-size: 2rem;
    }

    .text {
        font-size: 0.9rem;
    }

    .memes_header .close {
        width: 0.6rem;
        height: 0.6rem;
    }
}
